<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learn Vue JS</title>
  <script src="../../node_modules/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>

    <!-- Data binding -->
    <input v-model="message">

    <!-- Conditional -->
    <p v-if="count === 1">
      Green
    </p>
    <p v-else-if="count === 2">
      Red
    </p>
    <p v-else>
      Yellow
    </p>

    <!-- Vue show -->
    <p v-show="count === 0">
      Red
    </p>
  </div>
  <script src="index.js"></script>
</body>
</html>